<section class="d-flex justify-content-center">
  <h2 class="mx-3 display-7">Email: </h2>
  <h2 class="display-7"><%= current_user.email %></h2>
</section>
<section class="d-flex justify-content-center">
  <h2 class="mx-3 display-7">Name: </h2>
  <h2 class="display-7"><%= current_user.name %></h2>
</section>
<% if freelancer? %>
  <section class="d-flex justify-content-center">
    <h2 class="mx-3 display-7">Qualification: </h2>
    <h2 class="display-7"><%= current_user.qualification %></h2>
  </section>
  <section class="d-flex justify-content-center">
    <h2 class="mx-3 display-7">Experience: </h2>
    <h2 class="display-7"><%= current_user.experience %></h2>
  </section>
<% end %>
<section class="d-flex justify-content-center">
  <h2 class="mx-3 display-7">Industry: </h2>
  <h2 class="display-7"><%= current_user.industry %></h2>
</section>
<%= link_to edit_profile_path(current_user), class: "btn btn-primary mx-3" do %>
  Edit <i class="bi bi-pencil"></i>
<% end %>
