<%= render 'shared/flash' %>
<h1 class="text-center my-3">Log in!</h1>
<div class="d-flex justify-content-center">
  <%= form_with url: sessions_path do |f| %>
    <%= f.label :email%><br>
    <%= f.text_field :email%><br>
    <br>
    <%= f.label :password%><br>
    <%= f.password_field :password%><br>
    <br>
    <%= f.submit "Login" %>
  <% end %>
</div>
