<%= render 'shared/flash' %>
<main>
  <div class="text-center my-3">
    <h1>Welcome admin</h1>
    <%= link_to 'Manage users', admin_manage_users_path %><br>
    <%= link_to 'Manage projects', admin_manage_projects_path %><br>
    <%= link_to 'Manage bids', admin_manage_bids_path %><br>
    <%= link_to 'Manage categories', admin_manage_categories_path %>
  </div>
</main>
