<%= render 'shared/flash' %>
<h2>Manage categories</h2>
<%= link_to new_category_path, class: "btn btn-info mb-2" do %>
  New category <i class="bi bi-plus-circle-dotted"></i>
<% end %>
<% @categories.each do |c| %>
  <div class="mx-3">
    <p><%= c.name %></p>
    <%= link_to edit_category_path(c), class: "btn btn-primary" do %>
      Edit <i class="bi bi-pencil"></i>
    <% end %>
    <%= link_to category_path(c), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do %>
      Delete <i class="bi bi-trash"></i>
    <% end %>
    <hr>
  </div>
<% end %>
