<h5 class="text-muted mb-3"><%= bid.bid_description %></h5>
<hr>
<%= render 'row', label: 'Amount', value: bid.bid_amount %>
<%= render 'row', label: 'Status', value: bid.bid_status %>
<%= render 'row', label: 'Project', value: link_to(bid.project_title, bid.project, class: 'text-decoration-none text-white btn btn-primary') %>
<%= render 'row', label: 'By', value: bid.username %>
<% if bid.project.user == current_user || bid.user == current_user %>
  <%= display_document(bid, :code) %>
  <%= display_document(bid, :design) %>
  <%= display_document(bid, :other) %>
<% end %>
<hr>
