<div class="mx-2 my-3">
  <h1 class="mb-3"><%= @bid.bid_name %></h1>
  <h5 class="text-muted mb-3"><%= @bid.bid_description %></h5>
  <hr>
  <dl class="row mb-3">
    <dt class="col-sm-3">Amount:</dt>
    <dd class="col-sm-9"><%= @bid.bid_amount %></dd>
    <dt class="col-sm-3">Status:</dt>
    <dd class="col-sm-9"><%= @bid.bid_status %></dd>
    <dt class="col-sm-3">Project:</dt>
    <dd class="col-sm-9"><%= link_to @bid.project.title, @bid.project, class: 'text-decoration-none text-white btn btn-primary' %></dd>
    <dt class="col-sm-3">By:</dt>
    <dd class="col-sm-9"><%= @bid.username %></dd>
    <% if @bid.bid_code_document.attached? %>
      <dt>Code Document:</dt>
      <dd><%= link_to @bid.bid_code_document.filename, url_for(@bid.bid_code_document), class: 'btn btn-secondary mt-2' %></dd>
    <% else %>
      <dd>No code document attached.</dd>
    <% end %>
    <% if @bid.bid_design_document.attached? %>
      <dt>Code Document:</dt>
      <dd><%= link_to @bid.bid_design_document.filename, url_for(@bid.bid_design_document), class: 'btn btn-secondary mt-2' %></dd>
    <% else %>
      <dd>No design document attached.</dd>
    <% end %>
    <% if @bid.bid_other_document.attached? %>
      <dt>Code Document:</dt>
      <dd><%= link_to @bid.bid_other_document.filename, url_for(@bid.bid_other_document), class: 'btn btn-secondary mt-2' %></dd>
    <% else %>
      <dd>No other document attached.</dd>
    <% end %>
  </dl>
  <hr>
  <% if (current_user == @bid.user || admin?) %>
    <% if @bid.modifiable? %>
      <%= link_to edit_bid_path(@bid), class: "btn btn-primary mt-2" do %>
        Edit this bid <i class="bi bi-pencil"></i>
      <% end %>
    <% elsif @bid.accepted? %>
      <%= link_to edit_bid_path(@bid), class: "btn btn-info mt-2" do %>
        Submit project files <i class="bi bi-upload"></i>
      <% end %>
    <% else %>
    <% end %>
  <% end %>
</div>
