<div class="col">
  <div class="card h-100">
    <div class="card-body pb-0">
      <% if user.status == 'pending' && admin? %>
        <div class="alert alert-danger">User's registration is pending</div>
        <div>
          <%= display_user_action('Approve', approve_user_path(user), 'check-lg', 'success') %>
          <%= display_user_action('Reject', reject_user_path(user), 'x-lg', 'danger') %>
        </div>
      <% end %>
      <h5 class="card-title mt-2"><%= link_to user.username, user, class: 'text-decoration-none' %></h5>
      <h6 class="card-subtitle text-muted"><%= user.role %></h6>
      <h6 class="card-title text-muted"><%= user.email %></h6>
      <p class="text-start">
        <%= render 'shared/profile_picture', user:, size: '320x320' %>
        <p class="card-text"><%= user.visibility_status %></p>
        <% user.categories.each do |cat| %>
          <span class="badge bg-info"><%= cat.name %></span>
        <% end %>
      </p>
      <% if admin? %>
        <div class="mb-2">
          <% if user.status == 'approved' %>
            <%= display_user_action('Show', user, 'arrow-right-circle', 'primary') %>
            <%= display_user_action('Edit', edit_user_path(user), 'pencil', 'warning') %>
            <%= display_user_action('Delete', user_path(user), 'trash', 'danger') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
