<%= render 'shared/flash' %>
<h1 class="mx-3 my-3">Edit profile</h1>
<div class="mx-3 my-4">
  <%= form_with model:@user do |f| %>
    <%= f.label :profile_picture %><br>
    <%= f.file_field :profile_picture %><br>
    <br>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <br>
    <% if freelancer? %>
      <%= f.label :qualification %><br>
      <%= f.text_field :qualification %><br>
      <br>
      <%= f.label :experience %><br>
      <%= f.number_field :experience, in: 0..100, step: 1 %><br>
    <% end %>
    <br>
    <%= f.label :industry %><br>
    <%= f.text_field :industry %><br>
    <br>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>
