<h1 class="my-4 text-center">Edit profile</h1>
<div class="d-flex justify-content-center">
  <%= form_with model: @user do |f| %>
    <%= render 'shared/form_fields', form: f, user: @user, fields: [[:username, 'text'], [:profile_picture, 'file'], [:industry, 'text']] %>
    <div class="mb-3">
      <%= f.label :visibility, class: 'form-label' %>
      <div>
        <%= f.collection_radio_buttons :visibility, [['pub', 'Public'], ['priv', 'Private']], :first, :last do |b| %>
          <div class="form-check form-check-inline">
            <%= b.radio_button %>
            <%= b.label class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>
    <% if @user.role == 'freelancer' %>
      <div class="mb-3">
        <%= f.label :category_ids, "Categories", class: 'form-label' %>
        <div class="my-2">
          <span class="text-muted">Selected categories: </span>
          <%= display_badges(@user.categories, :name) %>
        </div>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="categoriesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Select Categories
          </button>
          <ul class="dropdown-menu checkbox-menu overflow-auto allow-focus" style="height: 200px;" aria-labelledby="categoriesDropdown">
            <% Category.all.each do |category| %>
              <li>
                <div class="dropdown-item">
                  <%= check_box_tag 'user[category_ids][]', category.id, @user.categories.include?(category), id: "user_category_ids_#{category.id}" %>
                  <%= label_tag "user_category_ids_#{category.id}", category.name %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
        <%= f.hidden_field :category_ids, value: "", multiple: true %>
        <%= render 'shared/field_errors', object: @user, field: :categories %>
      </div>
      <div class="mb-3">
        <%= f.label :qualification, class: 'form-label' %>
        <%= f.select :qualification, all_qualifications, {}, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :experience, class: 'form-label' %>
        <%= f.number_field :experience, in: 0..100, step: 1, class: 'form-control' %>
      </div>
    <% end %>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>
<%= render 'shared/footer', previous_page: @user %>
