<h1 class="mx-3 my-3">Edit profile</h1>
<div class="d-flex justify-content-center">
  <%= form_with model: @user do |f| %>
    <%= render 'shared/form_fields', form: f, user: @user, fields: [[:username, 'text'], [:profile_picture, 'file'], [:industry, 'text']] %>
    <% if freelancer? %>
      <div class="mb-3">
        <%= f.label :qualification, class: 'form-label' %>
        <%= f.text_field :qualification, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :experience, class: 'form-label' %>
        <%= f.number_field :experience, in: 0..100, step: 1, class: 'form-control' %>
      </div>
    <% end %>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>
