<nav class="navbar navbar-expand-md navbar-light bg-light px-2 mb-4">
  <div class="container">
    <%= link_to "Freelancing app", root_path, class: "navbar-brand"%>
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#primary-navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="primary-navigation">
      <ul class="navbar-nav ms-auto text-center">
        <% unless logged_in? %>
          <li class="nav-item"><%= link_to "Log in", new_session_path, class: "nav-link"%></li>
          <li class="nav-item"><%= link_to "Register", new_user_path, class: "nav-link"%></li>
        <% end %>
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to 'Log out', { :controller => 'sessions', :action => 'destroy', :id => session[:user_id] },
               data:  { :confirm => 'Are you sure?', :method => :delete, :remote => true}, class: "nav-link" %>
          </li>
          <% unless admin? %>
            <li class="nav-item"><%= link_to "Profile", user_path(current_user), class: "nav-link" %></li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-bell-fill"></i>
              <span class="badge rounded-pill bg-danger" id="notificationBadge" style="position: absolute; top: 0; right: 13px;">0</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown" id="notificationList" style="width: 300px;">
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
