<h1 class="mb-3"><%= project.title %></h1>
<h5 class="text-muted mb-3"><%= project.description %></h5>
<% if project.has_awarded_bid? && logged_in? %>
  <div class="alert alert-warning">Project has awarded bid</div>
<% end %>
<hr>
<%= display_document('Design Document', project.design_document) %>
<%= display_document('SRS Document', project.srs_document) %>
<div>
  <strong>Skills:</strong>
  <%= display_badges(project.skills) %>
</div>
<div class="my-2">
  <strong class="mt-4">Categories:</strong>
  <%= display_badges(project.categories, :name) %>
</div>
<div>
  <strong>By: </strong>
  <%= project.username %>
</div>
<hr>
