<div class="mx-2">
  <h1>Create a new project</h1>
  <p>Go ahead and create a new project to find freelancers from around the world!</p>
  <%= form_with model:@project do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    <br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
    <% ['Javascript developer', 'Ruby developer', 'Elixir developer', 'Typescript developer'].each do |skill| %>
      <%= check_box_tag 'project[skills][]', skill, @project.skills.include?(skill) %>
      <%= label_tag "project_skills_#{skill.parameterize}", skill %>
    <% end %>
    <br>
    <%= f.label :visibility %><br>
    <%= select(:project, :visibility, [['Public', 'pub'], ['Private', 'priv']]) %> <br>
    <br>
    <%= f.label :design_document %><br>
    <%= f.file_field :design_document %><br>
    <br>
    <%= f.label :srs_document %><br>
    <%= f.file_field :srs_document %><br>
    <br>
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>
