<%= render 'shared/search_form', search_path: search_projects_path %>
<% @projects.each do |p| %>
  <p><%= p.username %></p>
  <p><%= p.title %></p>
  <p><%= p.description %></p>
  <% p.categories.each do |cat| %>
    <span><%= cat.name %> </span>
  <% end %>
  <hr>
<% end %>
