<div class="mt-3">
  <%= render 'project_display', project: @project %>
  <% if current_user == @project.user && !@project.has_awarded_bid? %>
    <%= link_to edit_project_path(@project), class: "btn btn-warning mt-2 mx-2" do %>
      Edit <i class="bi bi-pencil"></i>
    <% end %>
  <% end %>
  <% if freelancer? %>
    <p class="card-text">by <%= @project.username %></p>
    <% unless @project.bid_awarded? %>
      <%= link_to new_bid_path(project_id: @project.id), class: 'btn btn-primary mt-2' do %>
        New Bid <i class="bi bi-plus-circle-dotted"></i>
      <% end %>
    <% else %>
      <% unless @project.has_awarded_bid? %>
        <div class="alert alert-warning">Project has already been awarded</div>
      <% end %>
    <% end %>
  <% end%>
  <h2 class="my-4">Bids:</h2>
  <%= render 'shared/bid_table', bids: @bids %>
  <%= paginate @bids %>
</div>
