<div class="mx-2 my-3">
  <p><strong>Title:</strong> <%= @project.title %></p>
  <p><strong>Description:</strong> <%= @project.description %></p>
  <% @project.skills.each do |skill| %>
    <p><%= skill %></p>
  <% end %>
  <% if @project.design_document.attached? %>
    <p>Design Document: <%= link_to 'Download', url_for(@project.design_document) %></p>
  <% else %>
    <p>No design document attached.</p>
  <% end %>
  <% if @project.srs_document.attached? %>
    <p>SRS Document: <%= link_to 'Download', url_for(@project.srs_document) %></p>
  <% else %>
    <p>No SRS document attached.</p>
  <% end %>
  <% if client? %>
    <%= link_to 'Back to recent projects', projects_path %>
  <% elsif freelancer? %>
    <p class="card-text">by <%= @project.email %></p>
    <%= link_to new_bid_path(project_id: @project.id), class: 'btn btn-primary' do %>
      New Bid <i class="bi bi-plus-circle-dotted"></i>
    <% end %>
    <br>
  <% end%>
  <h2>Bids:</h2>
  <% @bids.each do |bid| %>
    <% unless bid.rejected? %>
      <h4><%= bid.bid_name %></h4>
      <p><%= bid.bid_description %></p>
      <p><%= bid.bid_amount %></p>
      <p><%= bid.bid_status %></p>
      <p>by <%= bid.email %></p>
      <% unless bid.awarded? %>
        <% if bid.accepted? %>
          <%= link_to 'Award Bid to freelancer', award_bid_path(bid), method: :post, class: 'btn btn-primary' %>
          <%= link_to 'Put on hold', hold_bid_path(bid), method: :post, class: 'btn btn-warning' %>
        <% else %>
          <%= link_to 'Accept Bid', accept_bid_path(bid), method: :post, class: 'btn btn-primary' %>
          <%= link_to 'Reject Bid', reject_bid_path(bid), method: :post, class: 'btn btn-danger' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
