<h1 class="my-3">Create new category</h1>
<%= form_with model: @category, url: categories_path do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= render 'shared/field_errors', object: @category, field: :name %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
